@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:ital,wght@0,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 4fr 80px;
}

/* back to blog styling */


/* blog title */



/* styling author profile */